.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    }

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.slider-sk{
    height: 100vh;
}

.login-col-sk{
    height: 100vh;
    /* background-color: rgba(255,255,255,.4) */
}
.login-row-bg-sk{
    background-color: #895938 ;
    background-repeat: no-repeat;
    background-size: cover;
}
.mp-gov-logo-sk{
    /* height: 25%; */
    width: 75%;
    align-content: center;
}
.heading-div-sk{
    margin-top: 10%;
    margin-bottom: 7%;
}

.headline-1-sk {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    color: white;
}
.headline-2-sk {
    font-size: 2.8rem;
    color: white;
}

.login-form {
    max-width: 300px;
  }
.login-form-forgot {
    float: right;
  }
.login-form-button {
    width: 100%;
  }